# Section 3
## Read in database credentials
Below the credentials for connecting to the database are read into variables by extracting the lines from the local file. The local file is not included in the repo.

In [2]:
db_name = ""
db_user = ""
db_pass = ""
db_host = ""
with open("database_credentials.txt") as f:
    db_name = f.readline().strip()
    db_user = f.readline().strip()
    db_pass = f.readline().strip()
    db_host = f.readline().strip()

## Shorthand connect to database
This method will just return a new database connection with the default credentials made available above.

In [3]:
import pymysql as pms

In [4]:
def get_connect():
    """
    Returns a database connection object using the default parameters
    specified in the database_credentials file read in at the start of
    this notebook.
    """
    return pms.connect(host=db_host, user=db_user, passwd=db_pass, db=db_name);

## Test connection
The next code segment tests to ensure that the database connection is working properly.

In [5]:
try:
    con = get_connect()
    print("Successfully connected")
finally:
    if con:
        print("Closing connection")
        con.close()

Successfully connected
Closing connection

In [6]:
def get_connect():
    """
    Returns a database connection object using the default parameters
    specified in the database_credentials file read in at the start of
    this notebook.
    """
    return pms.connect(host=db_host, user=db_user, passwd=db_pass, db=db_name);

## Shorthand query execution and output
The method below accepts a single parameter (expected query), executes the parameter as a SQL query, and outputs the results. The connection is closed before the function terminates.

In [7]:
def execute_sql_output_result(query_string):
    """
    Given the query_string parameter, this function connects to the database, executes
    the query, outputs the result, and closes the connection.
    """
    try:
        con = get_connect()
        with con.cursor() as cur:
            #If the query_string is a single string, execute the string
            if type(query_string) == str:
                cur.execute(query_string)
                result = cur.fetchall()
                print("=== {} RESULTS ===".format(len(result)))
                #Column names
                print(" ".join([i[0] for i in cur.description]))
                #Results
                for i in range(len(result)):
                    print("{}: {}".format(i, result[i]))
    finally:
        if con:
            con.close()

## Single Row Functions (SRFs)
Single row functions can be used to perform functions on multiple entries 1 row at a time.

### CONCAT

In [15]:
execute_sql_output_result("""
    SELECT CONCAT('$', sal) AS Salary FROM emp;
""")

=== 14 RESULTS ===
Salary
0: ('$800.00',)
1: ('$1600.00',)
2: ('$1250.00',)
3: ('$2975.00',)
4: ('$1250.00',)
5: ('$2850.00',)
6: ('$2450.00',)
7: ('$3000.00',)
8: ('$5000.00',)
9: ('$1500.00',)
10: ('$1100.00',)
11: ('$950.00',)
12: ('$3000.00',)
13: ('$1300.00',)

### UPPER

In [16]:
execute_sql_output_result("""
    SELECT UPPER('hello') FROM emp;
""")

=== 14 RESULTS ===
UPPER('hello')
0: ('HELLO',)
1: ('HELLO',)
2: ('HELLO',)
3: ('HELLO',)
4: ('HELLO',)
5: ('HELLO',)
6: ('HELLO',)
7: ('HELLO',)
8: ('HELLO',)
9: ('HELLO',)
10: ('HELLO',)
11: ('HELLO',)
12: ('HELLO',)
13: ('HELLO',)

### LOWER

In [20]:
execute_sql_output_result("""
    SELECT LOWER(job) AS "Lowercase Job" FROM emp
""")

=== 14 RESULTS ===
Lowercase Job
0: ('clerk',)
1: ('salesman',)
2: ('salesman',)
3: ('manager',)
4: ('salesman',)
5: ('manager',)
6: ('manager',)
7: ('analyst',)
8: ('president',)
9: ('salesman',)
10: ('clerk',)
11: ('clerk',)
12: ('analyst',)
13: ('clerk',)

## DUAL table
The DUAL table can be used to test out SRFs.

In [22]:
execute_sql_output_result("""
    SELECT UPPER('dog') FROM dual;
""")

=== 1 RESULTS ===
UPPER('dog')
0: ('DOG',)